<div class="row">
  <div class="col-3">
    <div class="card">
      <div class="card-body">
        <div class="card-img">
          <img src='/assets/banner.jpg', style="width:253px;height:80px;">
        </div>
        <div>
          <div class="col-sm-12"><img src='/assets/profile-logo.jpg' class='rounded-img' width='50px' height='50px'>
            <span style="margin-left: 20px;"><%= current_user.username %></span>
          </div>
        </div>
      </div>
    </div>
    </br>
    <div class="card">
      <div class="card-body">
        <h5 style="color: grey; font-size: 125%;">Trends</h5>
        <a href="">#WWENXT</a></br>
        <a href="">Athletico</a></br>
        <a href="">#الحرب_العالميه_الثالثه</a></br>
        <a href="">Rony</a></br>
        <a href="">#NXTonUSA</a></br>
        <a href="">Justin Trudeau</a></br>
        <a href="">Madrid</a></br>
        <a href="">#ProvaDofazendeiro</a></br>
        <a href="">Atlético</a></br>
        <a href="">#MarriageIn4Words</a></br>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div id='conversation-tweet-div'>
      <%= render 'conversation_tweet.html.erb', :tweet => @tweet %>
    </div>
  </div>
  <div class="col-3">
    <div class="card">
      <div class="card-body">
        <p style="opacity:0.5">2019 Twitter About Help Terms Privacy Cookies Ads Info Brand Blog Status Apps Jobs Advertise Businesses Media Developers</p>
      </div>
    </div>
  </div>
</div>
