div class="row"
  div class="col-6 index-left-bg"
  div class="col-6 index-right-bg"
    div class="index-login-div" style="padding-top: 90px"
      div class="row"
        div class="col-6"
          img src="/assets/twitter-logo.png" class="index-twitter-logo"
      h1 See what’s happening in the world right now
      br
      br
      h2 Join Twitter today
      br
      a class="btn btn-primary btn-lg active index-signup-btn" role="button" href="/users/new" Sign up
      a class="btn btn-light btn-lg active index-login-btn" role="button" href="login" Log in
