<div class="row">
  <div class="col-6 index-left-bg">
  </div>
  <div class="col-6 index-right-bg">
    <div class="index-login-div" style="padding-top: 90px">
      <div class="row">
        <div class="col-6">
          <img src="/assets/twitter-logo.png" class="index-twitter-logo">
        </div>
      </div>
      <h1>See what’s happening in the world right now</h1>
      </br></br>
      <h2>Join Twitter today.</h2>
      </br>
      <a class="btn btn-primary btn-lg active index-signup-btn" role="button" href="/users/new">Sign up</a>
      <a class="btn btn-light btn-lg active index-login-btn" role="button" href="login">Log in</a>
    </div>
  </div>
</div>
