div class="row"
  div class="col-12"
    div class="jumbotron"
      img src=asset_path("banner.jpg") class="profile-banner"

div class="row"
  div class="col-3"
    div class="card"
      div class="card-body"
        div
          div class="col-sm-12"
            img src=asset_path('profile-logo.jpg') class='rounded-img' width='50px' height='50px'
            span style="margin-left: 20px;"
              = current_user.username
          br
          span style="opacity: 0.7;" This is a Twitter Clone created by Leo Magsino

  div class="col-6"
    div id="profile-tweets-div"
      = render 'show_tweets', :tweets => @current_user_tweets

  div class="col-3"
    div class="card"
      div class="card-body"
        h5 style="color: grey; font-size: 125%;" Who to follow
        a href="" @edoromal
        br
        a href="" @jdla
        br
        a href="" @aguevara
        br
        a href="" @slim
        br
        a href="" @mvillacorta
        br
        a href="" @dque
        br
    div class="card"
      div class="card-body"
        h5 style="color: grey; font-size: 125%;" Trends
        a href="" #WWENXT
        br
        a href="" Athletico
        br
        a href="" #الحرب_العالميه_الثالثه
        br
        a href="" Rony
        br
        a href="" #NXTonUSA
        br
        a href="" Justin Trudeau
        br
        a href="" Madrid
        br
        a href="" #ProvaDofazendeiro
        br
        a href="" Atlético
        br
        a href="" #MarriageIn4Words
