<div class="row">
  <div class="col-12">
    <div class="jumbotron">
      <img src="/assets/banner.jpg" class="profile-banner">
    </div>
  </div>
</div>

<div class="row">
  <div class="col-3">
    <div class="card">
      <div class="card-body">
        <div>
          <div class="col-sm-12"><img src='/assets/profile-logo.jpg' class='rounded-img' width='50px' height='50px'>
            <span style="margin-left: 20px;"><%= current_user.username %></span>
          </div>
          </br>
          <span style="opacity: 0.7;">This is a Twitter Clone created by Leo Magsino</span>
        </div>
      </div>
    </div>
  </div>

  <div class="col-6">
    <div id="profile-tweets-div">
      <%= render 'show_tweets.html.erb', :tweets => @current_user_tweets %>
    </div>
  </div>

  <div class="col-3">
    <div class="card">
      <div class="card-body">
        <h5 style="color: grey; font-size: 125%;">Who to follow</h5>
        <a href="">@edoromal</a></br>
        <a href="">@jdla</a></br>
        <a href="">@aguevara</a></br>
        <a href="">@slim</a></br>
        <a href="">@mvillacorta</a></br>
        <a href="">@dque</a></br>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 style="color: grey; font-size: 125%;">Trends</h5>
        <a href="">#WWENXT</a></br>
        <a href="">Athletico</a></br>
        <a href="">#الحرب_العالميه_الثالثه</a></br>
        <a href="">Rony</a></br>
        <a href="">#NXTonUSA</a></br>
        <a href="">Justin Trudeau</a></br>
        <a href="">Madrid</a></br>
        <a href="">#ProvaDofazendeiro</a></br>
        <a href="">Atlético</a></br>
        <a href="">#MarriageIn4Words</a></br>
      </div>
    </div>
  </div>
</div>
