- if logged_in?
  nav class="navbar navbar-expand-lg navbar-light"
    img class="navbar-brand twitter-logo" src="/assets/twitter-logo.png"
    button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
      span class="navbar-toggler-icon"

    div class="collapse navbar-collapse" id="navbarSupportedContent"
      ul class="navbar-nav mr-auto"
        li class="nav-item"
          a class="nav-link" href="/home" Home
          span class="sr-only" (current)
        li class="nav-item"
          a class="nav-link" href="/profile" Profile
        li class="nav-item"
          a class="nav-link" href="" Notifications
        li class="nav-item"
          a class="nav-link" href="" Messages
      ul class="navbar-nav"
        li class="nav-item"
          form class="form-inline my-2 my-lg-0"
            input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"
        li class="nav-item dropdown"
          a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
            img src="/assets/profile-logo.jpg" class="profile-logo"
          div class="dropdown-menu" aria-labelledby="navbarDropdown"
            a class="dropdown-item" href="/profile" Profile

            div class="dropdown-divider"
            ==link_to('Log Out', logout_path, :class => 'dropdown-item', :method => :delete)
        li type="nav-item button" class="btn btn-primary navbar-btn" data-target="#tweetModal" data-toggle="modal" Tweet

div class="modal fade" id="tweetModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true"
  div class="modal-dialog" role="document"
    div class="modal-content"
      div class="modal-header"
        h5 class="modal-title" id="modalLabel" Tweet
        button type="button" class="close" data-dismiss="modal" aria-label="Close"
          span aria-hidden="true" &times;
      == form_for(Tweet.new, :remote => true) do |f|
        div class="tweet-modal"
            center
              div class="modal-body"
                == f.text_area :content, autofocus: true, maxlength: 140, class: 'tweet-text-area'
        div class="modal-footer"
          button type="button" class="btn btn-secondary" data-dismiss="modal" Close
          == f.submit "Tweet", :class => 'btn btn-primary'
